body {
  background-color: black;
  color: white;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.enemy-container {
  border: 1px solid #666;
  padding: 0.5em;
  margin: 0.1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 100%;
}

.enemy-name {
  margin: 0;
  padding: 0;
}

.launch-button {
  background-color: #900;
  font-weight: 900;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  border: 1.5px solid #400;
  box-shadow: 0px 4px #333;
  transform: rotateX(25deg);

  text-align: center;
  color: #400;
  font-size: 3em;
}
.launch-button:hover {
}
.launch-button:active {
  background-color: #400;

  color: #000;
  box-shadow: none;
  transform: translateY(4px) rotateX(25deg);
}
.launch-button.launched {
  background-color: #200;
  cursor: default;

  border: none;

  color: #000;
  box-shadow: none;
  transform: translateY(4px) rotateX(25deg);
}
.launch-button.dead {
  color: #0b0;
}

.countdown {
  color: #aaa;
  font-size: 0.5em;
}

.ews-canvas {
  margin: 0.5em;
  border: 1px solid #888;
}

.lrr-readouts {
  border-collapse: collapse;
}
.lrr-readouts td,th {
  border: 1px solid #888;
  padding: 0 1em;
  text-align: center;
}
